.button {
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    // doing this so that vertical magrin and padding are taken into effect
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}